:root {
  --color-orange: #FF8000;
  --color-background: rgba(0, 0, 0, 0.8);
  --color-white: #fff;
  --color-rocket: #7159c1
}


/* DESAFIO 1 */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--color-background);
  font-family: 'Roboto', sans-serif;
}


header div {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background: var(--color-rocket);
}


.links a {
  text-decoration: none;
  padding: 30px;
  color: #fff;
}

.links a:hover {
  color: var(--color-background);
  transition: color 300ms;
}

section {
  text-align: center;
  margin: 30px;
}

.logo-principal img {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 3px solid var(--color-rocket);
  margin: auto;
}

section h1 {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
}

section p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.enfase {
  color: var(--color-rocket);
}

/* DESAFIO 2 */

.logo-sobre h1 {
  color: #BE81F7;
}


.logo-sobre img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.logo-sobre img:hover {
  border: 3px solid var(--color-orange);
  opacity: 0.8;
}


section h3 {
  color: var(--color-white);
  padding: 30px 30px 0 30px;
  margin-top: 20px;
}

section li {
  color: var(--color-white);
  margin: 10px;

}

section li:hover {
  color: var(--color-orange);
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.links-footer a {
  text-decoration: none;
  padding: 30px;
  color: #fff;
}

.links-footer a:hover {
  color: var(--color-rocket);
  transition: color 300ms;
}


/* DESAFIO 3 */

#cards {
  max-width: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
}

.card-image img {
  padding: 30px;
}

.card-content,
.card-info {
  padding: 24px;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-price {
  padding: 0 20px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  filter: brightness(80%);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: #000;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/* Modal active */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}